.LA-out-content {
  width: 100%;
  height: 945px;
  z-index: 2; }
  .LA-out-content .LA-in-content {
    width: 980px;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -490px; }
    .LA-out-content .LA-in-content .LA-top-nav {
      width: 980px;
      height: 80px;
      position: relative;
      background: url(../imgs/icons/bg-cqssc-nav.png) no-repeat center bottom;
      overflow: hidden; }
      .LA-out-content .LA-in-content .LA-top-nav .LA-logo-cqssc {
        width: 135px;
        height: 27px;
        background: url(../imgs/icons/bg-logo-cqssc.png) no-repeat center center;
        position: absolute;
        left: 25px;
        top: 25px;
        text-indent: -9999px; }
      .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-info {
        width: 110px;
        height: 80px;
        position: absolute;
        left: 170px;
        top: 0;
        padding-top: 10px;
        padding-left: 20px; }
        .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-info h3 {
          font-size: 12px;
          font-family: Tahoma;
          color: #acb7ee; }
          .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-info h3 strong {
            font-weight: bold;
            color: #ffffff; }
          .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-info h3 span {
            font-weight: bold; }
      .LA-out-content .LA-in-content .LA-top-nav .LA-time {
        width: 160px;
        height: 80px;
        position: absolute;
        left: 290px;
        top: 0; }
        .LA-out-content .LA-in-content .LA-top-nav .LA-time ol {
          width: 150px;
          height: 42px;
          position: absolute;
          left: 10px;
          top: 19px;
          background: url(../imgs/icons/bg-nav-time.png) no-repeat center center; }
          .LA-out-content .LA-in-content .LA-top-nav .LA-time ol li {
            width: 30px;
            height: 42px;
            position: absolute;
            top: 0;
            font-size: 34px;
            font-family: Arial;
            font-weight: bold;
            line-height: 42px;
            text-align: center;
            color: #ffffff; }
            .LA-out-content .LA-in-content .LA-top-nav .LA-time ol li.one {
              left: 0; }
            .LA-out-content .LA-in-content .LA-top-nav .LA-time ol li.two {
              left: 36px; }
            .LA-out-content .LA-in-content .LA-top-nav .LA-time ol li.three {
              left: 85px; }
            .LA-out-content .LA-in-content .LA-top-nav .LA-time ol li.four {
              left: 120px; }
      .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-current {
        width: 100px;
        height: 80px;
        position: absolute;
        left: 530px;
        top: 0;
        padding-top: 20px; }
        .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-current h3 {
          font-family: SimSun;
          font-size: 12px;
          color: #acb7ee; }
          .LA-out-content .LA-in-content .LA-top-nav .LA-lottery-current h3 span {
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 2px; }
      .LA-out-content .LA-in-content .LA-top-nav ul {
        width: 230px;
        height: 40px;
        position: absolute;
        right: 120px;
        top: 20px; }
        .LA-out-content .LA-in-content .LA-top-nav ul li {
          width: 40px;
          height: 40px;
          float: left;
          background: url(../imgs/icons/bg-nav-ball.png) no-repeat center center;
          color: #484646;
          font-family: Minion Pro;
          font-weight: bold;
          line-height: 40px;
          text-align: center;
          font-size: 25px;
          margin: 0 3px; }
      .LA-out-content .LA-in-content .LA-top-nav h4 {
        width: 90px;
        height: 80px;
        background: url(../imgs/icons/icon-nav-calender.png) no-repeat left center;
        text-indent: 22px;
        font-family: SimSun;
        font-size: 12px;
        color: #acb7ee;
        line-height: 80px;
        position: absolute;
        right: 0;
        top: 0; }
    .LA-out-content .LA-in-content .LA-in-main {
      width: 980px;
      height: 533px;
      background-color: #f2f2f2;
      position: relative;
      top: 15px;
      background: url(../imgs/icons/bg-main-bottom.png) no-repeat center bottom; }
      .LA-out-content .LA-in-content .LA-in-main .LA-main-nav {
        width: 979px;
        height: 38px;
        position: absolute;
        background: url(../imgs/icons/bg-main-nav.png) repeat-x center left;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-nav ul {
          width: 100%;
          height: 38px;
          overflow: hidden;
          position: absolute; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-nav ul li {
            float: left;
            color: #ffffff;
            font-family: Lantinghei SC;
            font-size: 15px;
            background: url(../imgs/icons/bg-border-right.png) no-repeat center right;
            line-height: 38px;
            text-align: center;
            padding: 0 16px;
            font-weight: bold; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-nav ul li:hover {
              background: url(../imgs/icons/bg-main-nav-hover.png) repeat-x center left; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-nav ul li.radius {
              border-top-left-radius: 5px; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-nav ul li.active {
              background: url(../imgs/icons/bg-main-nav-hover.png) repeat-x center left; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-nav ul li a {
              color: #ffffff;
              display: block; }
      .LA-out-content .LA-in-content .LA-in-main .LA-main-content {
        width: 979px;
        height: 448px;
        background: url(../imgs/icons/bg-main.png) repeat-x left top;
        position: absolute;
        top: 38px; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-content ol {
          width: 660px;
          height: 35px;
          position: absolute;
          left: 0;
          top: 20px;
          overflow: hidden;
          padding-top: 10px; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-content ol li {
            width: 164px;
            height: 20px;
            text-align: center;
            border-right: 1px solid #9fadd7;
            float: left;
            line-height: 20px;
            color: #7688bc;
            overflow: visible; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-content ol li a {
              font-family: Microsoft YaHei;
              font-size: 15px;
              display: block;
              width: 135px;
              border-radius: 5px;
              margin-left: 15px;
              height: 30px;
              margin-top: -5px;
              line-height: 30px; }
              .LA-out-content .LA-in-content .LA-in-main .LA-main-content ol li a:hover {
                background: #759aec;
                color: #ffffff; }
              .LA-out-content .LA-in-content .LA-in-main .LA-main-content ol li a.active {
                background: #759aec;
                color: #ffffff; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-content ol li.last {
              border: none; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-content table {
          width: 832px;
          height: 280px;
          position: absolute;
          left: 73px;
          top: 80px; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-content table tr {
            width: 832px;
            height: 40px; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-content table tr td {
              font-family: Microsoft YaHei;
              font-size: 12px;
              line-height: 40px;
              color: #7c7c7c;
              border-bottom: 1px dotted #ccced0; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination {
          width: 832px;
          height: 40px;
          position: absolute;
          left: 73px;
          bottom: 10px;
          text-align: center;
          overflow: hidden; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul {
            height: 40px;
            margin: 0 auto; }
            .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul li, .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul span {
              display: inline; }
              .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul li a, .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul span a {
                text-decoration: underline;
                line-height: 40px;
                color: #2d385a;
                padding: 0 5px;
                font-size: 14px; }
                .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul li a.active, .LA-out-content .LA-in-content .LA-in-main .LA-main-content .LA-main-pagination ul span a.active {
                  text-decoration: none;
                  color: #00a4cd; }
      .LA-out-content .LA-in-content .LA-in-main .LA-main-detail {
        width: 979px;
        height: 448px;
        background: url(../imgs/icons/bg-main.png) repeat-x left top;
        position: absolute;
        top: 38px; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-detail h2 {
          height: 40px;
          text-align: center;
          font-family: Microsoft YaHei;
          font-size: 15px;
          color: #5e73b1;
          line-height: 60px; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-detail ol {
          width: 852px;
          height: 40px;
          margin: 0 auto;
          overflow: hidden; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-detail ol li {
            display: inline;
            margin-right: 40px;
            color: #7c7c7c;
            font-family: Microsoft YaHei;
            font-size: 12px;
            line-height: 40px; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-detail .LA-list-box {
          width: 852px;
          height: 230px;
          border: 2px solid #dcdcdc;
          margin: 0 auto;
          margin-top: 10px;
          overflow: auto; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-detail .LA-list-box h3, .LA-out-content .LA-in-content .LA-in-main .LA-main-detail .LA-list-box li {
            font-family: Microsoft YaHei;
            font-size: 12px;
            color: #7c7c7c;
            padding-left: 20px;
            line-height: 25px; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-detail .LA-list-box h3 {
            margin-top: 10px; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-detail p, .LA-out-content .LA-in-content .LA-in-main .LA-main-detail div {
          width: 852px;
          margin: 0 auto;
          margin-top: 10px;
          font-size: 12px;
          font-family: Microsoft YaHei;
          color: #7c7c7c; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-detail div {
          margin-top: 5px; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-detail div span {
            margin-left: -4px;
            padding: 0 2px; }
          .LA-out-content .LA-in-content .LA-in-main .LA-main-detail div input {
            background: url(../imgs/icons/bg-btn-share.png) no-repeat center center;
            border: none;
            outline: none;
            position: relative;
            border-radius: 10px;
            color: #ffffff;
            font-size: 12px;
            text-align: center;
            display: none; }
        .LA-out-content .LA-in-content .LA-in-main .LA-main-detail button {
          width: 115px;
          height: 32px;
          background: url(../imgs/icons/bg-btn-share.png) no-repeat center center;
          border: none;
          outline: none;
          margin: 0 auto;
          margin-top: 10px;
          display: block;
          font-family: SimSun;
          font-size: 15px;
          text-align: center;
          line-height: 32px;
          font-weight: bold;
          color: #ffffff; }
